/* LAYOUT */
.dashboard-layout {
  display: flex;
  min-height: 100vh;
  background: #f4f6f8;
  font-family: Arial, sans-serif;
}

/* SIDEBAR */
.sidebar {
  width: 240px;
  background: #1f2937;
  color: white;
  padding: 20px;
}

.logo {
  font-size: 20px;
  margin-bottom: 30px;
}

.sidebar-btn {
  width: 100%;
  padding: 12px;
  background: #2563eb;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 6px;
}

/* RIGHT CONTENT */
.content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 40px;
}

/* CARD */
.citizen-card {
  background: white;
  width: 100%;
  max-width: 500px;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.citizen-card input,
.citizen-card textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.citizen-card textarea {
  min-height: 90px;
}

.citizen-card button {
  width: 100%;
  padding: 12px;
  background: #0d6efd;
  border: none;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}

/* MESSAGES */
.error-text {
  color: red;
}

.success-text {
  color: green;
}
