/* Background overlay */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

/* Modal box */
.modal-box {
  background: #ffffff;
  padding: 30px;
  width: 350px;
  border-radius: 10px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  text-align: center;
}

/* Headings */
.modal-box h2 {
  margin-bottom: 20px;
  color: #2563eb;
}

/* Inputs */
.modal-box input {
  width: 100%;
  padding: 10px;
  margin-bottom: 12px;
  border: 1px solid #d1d5db;
  border-radius: 6px;
  outline: none;
}

/* Button */
/* .modal-box button {
  width: 100%;
  padding: 10px;
  background-color: #2563eb;
  color:rgb(255, 255, 255);
  border: none;
  border-radius: 6px;
  cursor: pointer;
} */

.login-button {
  background: linear-gradient(135deg, #2563eb, #1d4ed8);
  color: #ffffff;
  padding: 10px 18px;
  border: none;
  border-radius: 20px;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
  width: 300px;
}

.login-button:hover {
  background: linear-gradient(135deg, #1d4ed8, #2563eb);
  transform: translateY(-2px);
  box-shadow: 0 6px 14px rgba(37, 99, 235, 0.4);
}

/* Click effect */
.login-button:active {
  transform: scale(0.95);
}

.close-btn{
    
    margin-left: 90%;
    border-collapse: collapse;
}
.close-btn:hover{
    transform: translateY(-2px);
}
.close-btn:active{
    transform: scale(0.95);
}

/* Switch text */
.modal-box p {
  margin-top: 15px;
  font-size: 14px;
  color: #4b5563;
}

.modal-box span {
  color: #2563eb;
  cursor: pointer;
  font-weight: 600;
  margin-left: 5px;
}
